## Naïve Bayes

<p>Dado este dataset, decide qué tipo de Naïve Bayes(Gaussiano, Multinomial, Bernoulli) parece ser más adecuado y utilízalo para predecir si los clientes compran o no el producto.<p>

<p>S: El más adecuado sería Bernoulli Naïve Bayes (BernoulliNB) ya que se utiliza con variables booleanas, es decir, variables con dos valores, como verdadero y falso o 1 y 0.<p>

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split,RandomizedSearchCV,GridSearchCV
from sklearn.neighbors import  KNeighborsClassifier 
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,mean_squared_error ,r2_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from mlxtend.plotting import plot_decision_regions
from sklearn.decomposition import PCA
from sklearn.naive_bayes import *

In [5]:
customer_behaviour_df = pd.read_csv('Customer_Behaviour.csv')

customer_behaviour_df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
customer_behaviour_df.columns=["ID","Sexo","Edad","SalarioEstimado","Comprado"]


X = [["Sexo","Edad","SalarioEstimado"]]
y = ["Comprado"]